<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-精编维护</title>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
	media="screen" />

<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-paginator.js"></script>
<script src="/js/qunit-1.11.0.js"></script>
<script type="text/javascript">
$(function() {
	function getInputForCopy() {
		var input_id = '_CLIPBOARD_INPUT_FOR_COPY';
		var input = document.getElementById(input_id);
		if (input)
			return input;

		input = document.createElement('input');
		input.id = input_id;
		input.style = 'position: fixed; z-index: -100; bottom: 0; right: 0;'
		document.body.append(input);
		return input;
	}

	$('.js-clipboard').on('click', function() {
		//    var data = this.dataset.data;
		var data = $(this).attr("value");
		var copy_input = getInputForCopy();
		copy_input.value = data;
		copy_input.select();
		try {
			document.execCommand('copy');
		} catch (e) {
			window.prompt("请复制以下内容", data);
		}
		copy_input.value = null;
	});
})


	function empty() {
		$("#beginMaintain").val("");
		$("#endMaintain").val("");
		$("#queryString").val("");

		document.getElementById("selectStore").options.selectedIndex = 0;
		$("#selectStore").selectpicker('refresh');
		

	}
</script>
</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">精编维护</a></li>
			<li class="active">精编查询</li>
		</ol>
		<p id="advice"></p>
		<div class="panel panel-default">

			<div class="panel-heading">
				<form class="form-inline" id="myform" th:object="${merchandise}"
					method="POST" action="queryAll">

					<input type="text" class="form-control datetimepicker"
						style="width: 120px" name="beginMaintain" id="beginMaintain"
						th:value="*{beginMaintain}" placeholder="维护日期开始" /> <input
						type="text" class="form-control datetimepicker"
						style="width: 120px" name="endMaintain" id="endMaintain"
						th:value="*{endMaintain}" placeholder="维护日期结束" /> <input
						type="hidden" name="tabShow" id="tabShow"
						th:value="${merchandise.tabShow}" />

					<div class="form-group">
						<select id="selectStore"
							class="selectpicker show-tick form-control" name="storeId"
							data-live-search="true">
							<option value="0">选择店铺</option>
							<option th:each="shop:${shopList}" th:value="${shop.id}"
								th:text="${shop.name}"
								th:selected="(${shop.id} == ${merchandise.storeId})"></option>
						</select>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" name="queryString"
							id="queryString" th:value="*{queryString}" placeholder="编号/标题" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-default">提交</button>
						<button type="button" class="btn btn-default" onclick="empty()">清空</button>
					</div>

				</form>

			</div>
			<div class="panel-body">
				<table class="table table-bordered table-condensed table-hover ">
					<thead>
						<tr class="success">
							<th>ID</th>
							<th>维护日期</th>
							<th>店铺</th>
							<th>商品编号</th>
							<th>标题</th>
							<th>源网链接</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="merchandise : ${merchandise.queryList}">
							<td><a th:href="@{show(id=${merchandise.id})}"
								th:text="${merchandise.id}">111</a></td>
							<td th:if="${merchandise.maintainAt}==null"
								th:text="${#dates.format(merchandise.createdAt, 'yyyy/MM/dd HH:mm:ss')}">2018-01-08</td>
							<td th:if="${merchandise.maintainAt}!=null"
								th:text="${#dates.format(merchandise.maintainAt, 'yyyy/MM/dd HH:mm:ss')}">2018-01-08</td>
							<td th:text="${merchandise.store.name}">121212112121</td>
							<td><a class="js-clipboard" th:text="${merchandise.itemId}"
								title="复制商品链接" th:value="${merchandise.url}"></a></td>
							<td th:text="${merchandise.title}">阿迪达斯男士运动篮球鞋</td>
							<td><span th:each="surl :${merchandise.sourceUrl}"><a
									th:href="${surl.url}" th:text="链接"
									target="_blank"></a>&nbsp;&nbsp;&nbsp;</span></td>
							<!-- th:href="@{maintain(id=${merchandise.id})}" -->
							<td><a
								th:onclick="'javascript:maintain(\''+${merchandise.id}+'\')'"
								title="维护精编"><span>维护</span></a> <a
								th:onclick="'javascript:toModify(\''+${merchandise.id}+'\')'"
								title="修改精编"><span>修改</span></a> <a
								th:onclick="'javascript:remove(\''+${merchandise.id}+'\')'"
								title="下架精编"><span>下架</span></a></td>
						</tr>

					</tbody>
				</table>
				<ul id='pagination'></ul>
				<input type="hidden" id="totalPages" name="totalPages"
					th:value="*{merchandise.totalPages}" /> <input type="hidden"
					id="page" name="page" th:value="*{merchandise.page}" /> <input
					type="hidden" id="action" name="action" value="queryAll?pageNum=" />
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" id="totleElements"
					th:value="*{merchandise.totleElements}" />
			</div>
		</div>

	</div>
	<!-- 内容部分结束 -->


	<script src="/js/pagination-plugin.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"
		charset="UTF-8"></script>
	<script type="text/javascript"
		src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript">
	 /*<![CDATA[*/
	function maintain(id) {
	var page=$("#page").val();
			myform.action = "maintain?id=" + id+"&page="+page ;
			myform.submit();
	}
	function remove(id) {
		if (confirm("确定下架此条精编？")) {
			var page=$("#page").val();
			myform.action = "remove?id=" + id+"&page="+page ;
			myform.submit();
		}
	
	}
	function toModify(id) {
		myform.target="_blank";
			myform.action = "toModify?id=" + id ;
			myform.submit();
	}
	
	<!--日期插件调用-->
		$(".datetimepicker").datetimepicker({
			language : 'zh-CN',
			weekStart : 1,
			todayBtn : 1,
			autoclose : 1,
			todayHighlight : 1,
			startView : 2,
			minView : 4,
			forceParse : 0,
			format : 'yyyy-mm-dd'
		});
		
		$(document).ready(function(){ 
			var count=$("#totleElements").val();
			
			if(300 > count >0){
				$("#advice").html("");
				$("#advice").append("共有已发布精编"+count+"条，建议每天维护数量：5");
			}else{
				$("#advice").html("");
				$("#advice").append("共有已发布精编"+count+"条，建议每天维护数量："+Math.ceil(count/60))
			}

			}); 


		  /*]]>*/
		
	</script>

</body>
</html>
