<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />
<title>精编系统-添加相册</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/jquery.min.js"></script>

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">添加精编</a></li>
			<li class="active">相册列表</li>
		</ol>

		<div class="panel-heading">
			<form method="POST" id="myform" th:object="${album}">
				<input type="hidden" th:value="*{merchandiseId}" id="merchandiseId"
					name="merchandiseId" /> <input type="hidden" th:value="*{id}"
					id="id" name="id" /> 精编id：<span> <a
					th:text="*{merchandiseId}" onclick="merchandise()"></a>
					<input type="text" th:value="*{name}" id="name"
					name="name" /> 
					
					<button type="button" onclick="toAdd()" class="btn btn-info"
						style="float: right;">添加相册</button>
				</span>

			</form>
		</div>
		<table class="table table-bordered table-condensed table-hover ">

			<thead>
				<tr class="success">
					<th>编号</th>
					<th>名称</th>
					<th>创建时间</th>
					<th>主图</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="album: ${merchandise.albums}">
					<td th:text="${album.id}"></td>
					<td th:text="${album.name}"></td>
					<td th:text="${album.createdAt}"></td>
					<td th:text="zhu tu"></td>

					<td><a th:href="@{toModify(id=${album.id})}" title="编辑"><span
							class="glyphicon glyphicon-cog"></span></a>&nbsp;&nbsp; <a
						th:onclick="'javascript:deleteOne(\''+${album.id}+'\')'"
						title="删除"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="login_user"
			th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
	</div>
	<!-- 内容部分结束 -->


	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/alert.js"></script>
	<script type="text/javascript">
		function deleteOne(id) {
			if (confirm("确定删除此条信息？")) {
				myform.action = "delete?id=" + id;
				myform.submit();
			}
		}
		function toAdd() {
			var mid = $("#id").val();
			myform.action = "addAlbum?id=" + mid;
			myform.submit();
		}
		function merchandise() {
			alert();
			myform.action = "toAdd";
			//myform.submit();
		}
	</script>

</body>
</html>
