<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<title>精编系统-添加精编</title>
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>


<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="list">精编管理</a></li>
			<li><a href="list">我的精编</a></li>
			<li class="active">精编添加</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm"
				th:object="${merchandise}" method="POST" onsubmit="return false">
				<input type="hidden" name="id" th:value="*{id}" />
				<input type="hidden" name="createdAt" th:value="*{createdAt}" />
				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">商品标题</label>
						<div class="col-sm-10">
							<input class="form-control" name="title" id="title"
								th:value="*{title}" placeholder="商品标题" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<select id="genderId" class="selectpicker show-tick form-control"
								name="genderId" data-live-search="true">
								<option value="0">选择性别</option>
								<option th:each="gender:${genders}" th:value="${gender.id}"
									th:selected="${gender.id}==*{genderId}"
									th:text="${gender.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">品牌</label>
						<div class="col-sm-10">
							<select id="brandId" class="selectpicker show-tick form-control"
								name="brandId" data-live-search="true">
								<option value="0">选择品牌</option>
								<option th:each="brand:${brands}" th:value="${brand.id}"
									th:selected="${brand.id}==*{brandId}" th:text="${brand.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类</label>
						<div class="col-sm-10">
							<select class="form-control" id="taxon1" th:value="${taxonId}"
								onchange="getTaxon2(this.value)">
								<option value="0">选择一级分类</option>
								<option th:each="taxon:${topTaxons}" th:value="${taxon.id}"
									th:text="${taxon.name}" th:selected="*{taxon1.id}==${taxon.id}"></option>
							</select> <select class="form-control" id="taxon2"
								onchange="getTaxon3(this.value)">
								<option value="0">选择二级分类</option>
								<option th:if="*{taxon2}!=null" th:text="*{taxon2.name}"
									th:value="*{taxon2.id}" th:selected="true"></option>
							</select> <select class="form-control " name="taxonId" 
								id="taxon3">
								<option th:if="*{taxon3}!=null" th:text="*{taxon3.name}"
									th:value="*{taxon3.id}" th:selected="true"></option>
								<option value="0">选择三级分类</option>
							</select>

						</div>
					</div>
					<div class="form-group">
						<label for="url" class="col-sm-2 control-label">相册管理</label>
						<div class="col-sm-10">
							<select id="albumId" class="selectpicker show-tick form-control"
							name="albumId" data-live-search="true">
								<option value="0">选择商品相册</option>
								<option th:if="*{albums}!=null" th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									></option>
							</select> <input type="button" value="相册管理" class="btn btn-default"
								onclick="album()" placeholder="分类" />
						</div>
					</div>

				</div>

				<div class="form-group " style="text-align: center;">
					<div class="col-sm-4 ">
						<button class="btn btn-default" id="draf" onclick="draft()">仅保存草稿</button>
					</div>
					<div class="col-sm-4 ">
						<button class="btn btn-default" id="pub" onclick="publish()">保存并发布</button>
					</div>
					<div class="col-sm-4 ">
						<input type="button" value="返回" class="btn btn-default"
							onclick="back()" />
					</div>

				</div>
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" id="message"
					th:value="${merchandise.alertMessage}" />

			</form>
		</div>

	</div>

	<script type="text/javascript" src="/js/sparrow/ajax.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/alert.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>

	<script type="text/javascript">
		function album() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon3").val() == 0 || $("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			defaultForm.action = "albums";
			defaultForm.submit();

		}
		function back() {

			defaultForm.action = "list";
			defaultForm.submit();

		}
		function draft() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "draft";
			defaultForm.submit();

		}

		function publish() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "publish";
			defaultForm.submit();
		}
		
	</script>
</body>
</html>