<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />
<script src="/js/jquery.min.js"></script>

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="queryList">我的精编</a></li>
			<li><a href="#">修改精编</a></li>
			<li class="active">添加颜色</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm" th:object="${color}"
				method="POST" action="addColor" onsubmit="return false">
				<input type="hidden" name="id" th:value="*{id}" /> <input
					type="hidden" name="merchandiseId" th:value="*{merchandiseId}" />
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" id="message" th:value="*{alertMessage}" />
				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>
				</div>
				<div class="panel-body">

					<div class="form-group">
						<label for="color" class="col-sm-2 control-label">颜色</label>
						<div class="col-sm-10">
							<input class="form-control" id="name" name="name"
								th:value="*{name}" placeholder="颜色" />
						</div>
					</div>
					<div class="form-group">
						<label for="salesState" class="col-sm-2 control-label">相册名称</label>
						<div class="col-sm-10">
							<select id="albumId" class="selectpicker show-tick form-control"
								name="albumId" data-live-search="true">
								<option value="0">选择商品相册</option>
								<option th:each="album:${albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="size" class="col-sm-2 control-label">描述</label>
						<div class="col-sm-10">
							<input class="form-control" name="description" id="description"
								th:value="*{description}" placeholder="描述" />
						</div>
					</div>




				</div>




				<div class="form-group " style="text-align: center;">
					<div th:if="*{id}!=0" class="col-sm-4 ">
						<button class="btn btn-default" onclick="modify()">修改</button>
					</div>
					<div th:if="*{id}==0" class="col-sm-4 ">
						<button class="btn btn-default" onclick="add()">添加</button>
					</div>
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="back()">返回</button>

					</div>

				</div>

			</form>
		</div>

	</div>


	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>

	<script type="text/javascript">
		function back() {

			defaultForm.action = "modify";
			defaultForm.submit();
		}

		function add() {
			if ($("#name").val() == "" || $("#name").val() == null) {
				alert("name不能为空！");
				return false;
			}

			defaultForm.submit();

		}
		function modify() {
			if ($("#name").val() == "" || $("#name").val() == null) {
				alert("name不能为空！");
				return false;
			}

			defaultForm.action="../modifyColor";
			defaultForm.submit();

		}
	</script>
</body>
</html>