<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">精编管理</a></li>
			<li class="active">精编描述</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm" th:object="${desc}"
				method="POST" action="addDesc" onsubmit="return false">
				<input type="hidden" name="id" th:value="*{id}" /> <input
					type="hidden" name="merchandiseId" id="merchandiseId" th:value="*{merchandiseId}" />
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" id="message" th:value="*{alertMessage}" />
				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>
				</div>
				<div class="panel-body">

					<div class="form-group">
						<label for="color" class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input class="form-control" id="name" name="name"
								th:value="*{name}" placeholder="名称" disabled="disabled"/>
						</div>
					</div>
					
					<div class="form-group">
					
						<label for="size" class="col-sm-2 control-label">详情</label>
						<div class="col-sm-10">
								<textarea name="content" th:value="*{content}"  th:text="*{content}" disabled="disabled"> </textarea>
						</div>
					</div>
				</div>

				<div   class="form-group " align="center">
					
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="history.go(-1)">返回</button>
					</div>
				</div> 

			</form>
		</div>

	</div>
<script>
var mid=$("#merchandiseId").val();
	tinymce
			.init({
				selector : "textarea",
				upload_image_url : '/merchandise/upload?mid='+mid, //配置的上传图片的路由
				height : 400,
				language : 'zh_CN',
				plugins : [
						'advlist autolink lists link  charmap print preview hr anchor pagebreak',
						'searchreplace wordcount visualblocks visualchars code fullscreen',
						'insertdatetime media nonbreaking save table contextmenu directionality',
						'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help uploadimage' ],
				toolbar1 : 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
				toolbar2 : 'print preview media | forecolor backcolor  | codesample help uploadimage',
				image_advtab : true,
				templates : [ {
					title : 'Test template 1',
					content : 'Test 1'
				}, {
					title : 'Test template 2',
					content : 'Test 2'
				} ],
				menubar : false
			});
</script>

	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>

	<script type="text/javascript">
		function back() {

			defaultForm.action = "modify";
			defaultForm.submit();
		}
		function modifyBack() {

			defaultForm.action = "../modify";
			defaultForm.submit();
		}

		function add() {
			if ($("#name").val() == "" || $("#name").val() == null) {
				alert("属性值不能为空！");
				return false;
			}

			defaultForm.submit();

		}
		function modify() {
			if ($("#name").val() == "" || $("#name").val() == null) {
				alert("属性值不能为空！");
				return false;
			}

			defaultForm.action="../modifyDesc";
			defaultForm.submit();

		}
	</script>
</body>
</html>