<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />
<script src="/js/jquery.min.js"></script>

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="queryList">我的精编</a></li>
			<li><a href="#">设置单品</a></li>
			<li class="active">添加单品</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm" th:object="${item}"
				method="POST" action="addItem" onsubmit="return false">
				<input type="hidden" name="id" th:value="*{id}" /> <input
					type="hidden" name="mId" th:value="*{mId}" /> <input type="hidden"
					id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" id="message" th:value="*{alertMessage}" />
				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>
				</div>
				<div class="panel-body">

					<div class="form-group">
						<label for="color" class="col-sm-2 control-label">颜色</label>
						<div class="col-sm-10">
							<select class="selectpicker show-tick form-control" name="colors"
								id="color" multiple="multiple">
								<option th:each="color:${colors}" th:value="${color.id}"
									th:text="${color.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="color" class="col-sm-2 control-label">尺码</label>
						<div class="col-sm-10">
							<select class="selectpicker show-tick form-control" name="sizes"
								id="size" multiple="multiple">
								<option th:each="size:${sizes}" th:value="${size.id}"
									th:text="${size.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="mpn" class="col-sm-2 control-label">MPN</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="mpn" id="mpn"
								th:value="*{mpn}" placeholder="货号" />
						</div>
					</div>
					<div class="form-group">
						<label for="size" class="col-sm-2 control-label">库存</label>
						<div class="col-sm-10">
							<input type="number" step="1" class="form-control" name="stock"
								id="stock" th:value="*{stock}" placeholder="库存" />
						</div>
					</div>
					<div class="form-group">
						<label for="basePrice" class="col-sm-2 control-label">原网价格</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="price" step="0.01"
								name="price" th:value="*{price}" placeholder="价格" />
						</div>
					</div>
					<div class="form-group">
						<label for="salesState" class="col-sm-2 control-label">相册名称</label>
						<div class="col-sm-10">
							<select id="albumId" class="selectpicker show-tick form-control"
								name="albumId" data-live-search="true">
								<option value="0">选择商品相册</option>
								<option th:each="album:${albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"></option>
							</select>
						</div>
					</div>


				</div>


				<div class="form-group " style="text-align: center;">
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="add()">保存</button>
					</div>
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="back()">返回</button>

					</div>

				</div>

			</form>
		</div>

	</div>


	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>

	<script type="text/javascript">
		function back() {

			defaultForm.action = "modify";
			defaultForm.submit();
		}

		function add() {
			if ($("#color").val() == 0 || $("#color").val() == null) {
				alert("color不能为空！");
				return false;
			}

			if ($("#price").val() == 0.0) {
				alert("价格不能为0！");
				return false;
			}

			if ($("#mpn").val() == "" || $("#mpn").val() == null) {
				alert("mpn不能为空！");
				return false;
			}

			defaultForm.submit();

		}
	</script>
</body>
</html>