<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />
<script src="/js/jquery.min.js"></script>

</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="../list">精编管理</a></li>
			<li><a href="../list">我的精编</a></li>
			<li class="active">修改精编</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm"
				th:object="${merchandise}" method="POST" action="add"
				onsubmit="return false">
				<!-- 	<input type="hidden" name="id" id="id" th:value="*{id}" />  -->
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />
				<input type="hidden" name="reviewNeeded" id="reviewNeeded"
					th:value="*{reviewNeeded}" />
				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>
					<button type="button" value="修改基本信息" onclick="basic()"
						style="float: right;" class="btn btn-info">修改基本信息</button>
				</div>
				<div class="panel-body">
					<div class="form-group ">
						<label for="title" class="col-sm-2 control-label">精编ID</label>
						<div class="col-sm-10">
							<input  readonly="readonly" class="form-control" name="id" id="id" 
								th:value="*{id}" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">负责人</label>
						<div class="col-sm-10">
							<input class="form-control" name="holderName" id="holderName"
								disabled="disabled" th:value="*{holderName}" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">精编状态</label>
						<div class="col-sm-10">
							<input class="form-control" name="state" id="state"
								disabled="disabled" th:value="*{state}" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">商品标题</label>
						<div class="col-sm-10">
							<input class="form-control" name="title" id="title"
								disabled="disabled" th:value="*{title}" placeholder="商品标题" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<select id="genderId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="genderId" data-live-search="true">
								<option th:text="*{gender.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">品牌</label>
						<div class="col-sm-10">
							<select id="brandId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="brandId" data-live-search="true">

								<option th:text="*{brand.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类</label>
						<div class="col-sm-10">
							<select class="form-control " id="taxon1" th:value="${taxonId}"
								disabled="disabled" onchange="getTaxon2(this.value)">
								<option value="0">选择一级分类</option>
								<option th:each="taxon:${topTaxons}" th:value="${taxon.id}"
									th:text="${taxon.name}" th:selected="*{taxon1.id}==${taxon.id}"></option>
							</select> <select class="form-control " id="taxon2" disabled="disabled"
								onchange="getTaxon3(this.value)">
								<option value="0">选择二级分类</option>
								<option th:if="*{taxon2}!=null" th:text="*{taxon2.name}"
									th:value="*{taxon2.id}" th:selected="true"></option>
							</select> <select class="form-control " name="taxonId" disabled="disabled"
								id="taxon3">
								<option th:if="*{taxon3}!=null" th:text="*{taxon3.name}"
									th:value="*{taxon3.id}" th:selected="true"></option>
								<option value="0">选择三级分类</option>
							</select>

						</div>
					</div>
					<!-- <div class="form-group">
						<label for="url" class="col-sm-2 control-label">商品相册名称</label>
						<div class="col-sm-10">
							<select id="albumId" class="selectpicker show-tick form-control"
								disabled="disabled" name="albumId" data-live-search="true">
								<option value="0">选择商品相册</option>
								<option th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									disabled="disabled"></option>
							</select>
							<input type="button" value="相册管理" class="btn btn-default"
								onclick="album()" placeholder="分类" />
						</div>
					</div> -->
				</div>

				<div class="panel-heading">
					<h3 class="panel-title">
						商品相册:
						&nbsp;&nbsp;&nbsp;
						<select id="albumId" 
								disabled="disabled" name="albumId" data-live-search="true">
								<option value="0">未选择商品相册</option>
								<option th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									disabled="disabled"></option>
							</select>
						<button type="button" value="相册管理" onclick="album()" style="float: right;"
							class="btn btn-info">相册管理</button>
					</h3>
				</div>
				
				<div class="panel-body">
					<a th:each="image : ${images}"> <img alt=""
						th:src="${image.url}" height="100" ></img>
					</a>
				</div>
				
				<!-- <div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr>
							<td th:each="image : ${images}"><img 
								th:src="${image.url}" height="100" alt=""></img></td>
						</tr>
					</table>
				</div> -->
				<!-- 原网链接部分 -->
				<div class="panel-heading">
					<h3 class="panel-title">
						原网信息
						<button type="button" value="添加原网信息" onclick="toUrl()"
							style="float: right;" class="btn btn-info">添加原网信息</button>
					</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>url</th> 
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
						<tr th:each="item : ${merchandise.SourceUrl}">
							<td th:text="${item.id}" class="itemId">12</td>
							<!-- <td th:text="*{brand.name}">12</td>
							<td th:text="${item.mpn}">12</td> -->
							<td><a th:href="${item.url}" target="_blank"
								th:text="${item.url}"></a></td>
							<td th:if="${item.state}==1">正常</td>
							<td th:if="${item.state}==0">已删除</td>
							<td th:text="${item.createdAt}">12</td>
							<td>
								<!-- <a th:href="'url/'+${item.id}" title="修改"><span
									class="glyphicon glyphicon-pencil"></span></a> -->&nbsp;&nbsp;<a
								th:onclick="'javascript:deleteUrl(\''+${item.id}+'\')'"
								title="删除"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					</table>
				</div>


				<!--  单品维度部分-->
				<div class="panel-heading">
					<h3 class="panel-title">
						颜色尺码
						<div style="float: right;">
							<button type="button" value="添加颜色尺码" onclick="color()"
								class="btn btn-info">添加颜色</button>
							&nbsp;
							<button type="button" value="添加颜色尺码" onclick="size()"
								class="btn btn-info">添加尺码</button>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs" role="tablist" id="refinedlist">
						<li role="presentation" class="active"><a href="#color"
							aria-controls="color" role="tab" data-toggle="tab">颜色<span
								class="badge"></span></a></li>
						<li role="presentation"><a href="#size" aria-controls="size"
							role="tab" data-toggle="tab">尺码<span class="badge"></span></a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="color">
							<div class="table-responsive">
								<table class="table table-bordered table-condensed table-hover "
									style="width: 90%;" align="center">
									<thead>
										<tr class="success">
											<th>ID</th>
											<th>颜色名称</th>
											<th>相册名称</th>
											<th>描述</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="color : ${merchandise.colors}">
											<td th:text="${color.id}"></td>
											<!-- <td th:text="${merchandise.createdAt}">2018-01-08</td> -->
											<td th:text="${color.name}">2018-01-08</td>
											<td th:text="${color.albumName}">2018-01-08</td>
											<td th:text="${color.description}">2018-01-08</td>
											<td><a th:href="'color/'+${color.id}" title="修改"><span
													class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp; <a
												th:onclick="'javascript:deleteColor(\''+${color.id}+'\')'"
												title="删除"><span class="glyphicon glyphicon-trash"></span></a>
											</td>
										</tr>

									</tbody>
								</table>
								<!-- <ul id='pagination'></ul>
							<input type="hidden" id="totalPages" name="totalPages"
								th:value="*{merchandise.totalPages}" /> <input type="hidden"
								id="page" name="page" th:value="*{merchandise.page}" /> <input
								type="hidden" id="action" name="action"
								value="queryList?show=all&amp;pageNum=" /> -->

							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="size">
							<div class="table-responsive">
								<table class="table table-bordered table-condensed table-hover "
									style="width: 90%;" align="center">
									<thead>
										<tr class="success">
											<th>ID</th>
											<th>尺码名称</th>
											<th>相册</th>
											<th>描述</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="size : *{sizes}">
											<td th:text="${size.id}"></td>
											<!-- <td th:text="${merchandise.createdAt}">2018-01-08</td> -->
											<td th:text="${size.name}">2018-01-08</td>
											<td th:text="${size.albumName}">2018-01-08</td>
											<td th:text="${size.description}">2018-01-08</td>
											<td><a th:href="'size/'+${size.id}" title="修改"><span
													class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp; <a
												th:onclick="'javascript:deleteSize(\''+${size.id}+'\')'"
												title="删除"><span class="glyphicon glyphicon-trash"></span></a>
											</td>
										</tr>

									</tbody>
								</table>
								<!-- <ul id='pagination'></ul>
							<input type="hidden" id="totalPages" name="totalPages"
								th:value="*{merchandise.totalPages}" /> <input type="hidden"
								id="page" name="page" th:value="*{merchandise.page}" /> <input
								type="hidden" id="action" name="action"
								value="queryList?show=all&amp;pageNum=" /> -->

							</div>
						</div>
					</div>
				</div>
				<!--  单品信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">
						单品信息
						<button type="button" value="添加单品" onclick="toItem()"
							style="float: right;" class="btn btn-info">添加单品信息</button>
					</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>颜色</th>
							<th>尺码</th>
							<th>MPN</th>
							<th>库存</th>
							<th>原网价格</th>
							<th>相册</th>
							<th>操作</th>
						</tr>
						<tr th:each="item : ${merchandise.lineItems}">
							<td th:text="${item.id}" class="itemId">12</td>
							<td th:text="${item.color}">12</td>
							<td th:text="${item.size}">12</td>
							<td th:text="${item.mpn}">12</td>
							<td th:text="${item.stock}">12</td>
							<td th:text="${item.price}">12</td>
							<td th:text="${item.albumName}">12</td>
							<td><a th:href="'lineItem/'+${item.id}" title="修改"><span
									class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;<a
								th:onclick="'javascript:deleteItem(\''+${item.id}+'\')'"
								title="删除"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>

					</table>
				</div>

				<!--  规格信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">
						规格信息
						<button type="button" value="添加规格信息" onclick="toSpec()"
							style="float: right;" class="btn btn-info">添加规格信息</button>
					</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>规格名称</th>
							<th>规格值</th>
							<th>操作</th>
						</tr>
						<tr th:each="spec : ${merchandise.specs}">
							<td th:text="${spec.id}" class="itemId">12</td>
							<td th:text="${spec.key}">12</td>
							<td th:text="${spec.value}">12</td>
							<td><a th:href="'spec/'+${spec.id}" title="修改"><span
									class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;<a
								th:onclick="'javascript:deleteSpec(\''+${spec.id}+'\')'"
								title="删除"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>

					</table>
				</div>

				<!--  详情部分-->
				<div class="panel-heading">
					<h3 class="panel-title">
						详情信息
						<button type="button" value="添加详情信息" onclick="toDesc()"
							style="float: right;" class="btn btn-info">添加详情信息</button>
					</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>名称</th>
							<th>操作</th>
						</tr>
						<tr th:each="desc : ${merchandise.descs}">
							<td><a th:href="'../desc/'+${desc.id}" th:text="${desc.id}"></a></td>
							<td th:text="${desc.name}">12</td>
							<td><a th:href="'desc/'+${desc.id}" title="修改"><span
									class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;<a
								th:onclick="'javascript:deleteDesc(\''+${desc.id}+'\')'"
								title="删除"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>

					</table>
				</div>


				<div class="form-group " style="text-align: center;">
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="draft()">仅保存草稿</button>
					</div>

					<div th:switch="${merchandise.state}" class="col-sm-4 ">
						<a th:case="'回收站'"> </a> <a th:case="*">
							<button class="btn btn-default" onclick="publish()">保存并发布</button>
						</a>
					</div>

					<div class="col-sm-4 ">
						<input type="button" value="返回" class="btn btn-default"
							onclick="back()" />
					</div>

				</div>
				<input type="hidden" id="message"
					th:value="${merchandise.alertMessage}" />
			</form>
		</div>

	</div>
	<script type="text/javascript" src="/js/sparrow/ajax.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>

	<script type="text/javascript">
		function album() {

			defaultForm.action = "albums";
			defaultForm.submit();

		}
		function toDesc() {
			defaultForm.action = "desc";
			defaultForm.submit();

		}
		function toSpec() {
			defaultForm.action = "spec";
			defaultForm.submit();

		}
		function toItem() {
			defaultForm.action = "lineItem";
			defaultForm.submit();

		}
		function color() {
			defaultForm.action = "color";
			defaultForm.submit();

		}
		function size() {
			defaultForm.action = "size";
			defaultForm.submit();

		}
		function basic() {
			defaultForm.action = "basic/toModify";
			defaultForm.submit();

			//$('input').attr("disabled",false);
			//$('#taxon3').attr("disabled",false);
			// $('.modify').prop('disabled', false);
			//$('.modify').selectpicker('refresh');
		}
		function album() {
			defaultForm.action = "albums";
			defaultForm.submit();

		}

		function deleteDesc(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteDesc/" + id;
				defaultForm.submit();
			}
		}
		function deleteSpec(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteSpec/" + id;
				defaultForm.submit();
			}
		}
		function deleteUrl(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteUrl/" + id;
				defaultForm.submit();
			}
		}
		function deleteItem(id) {
			if (confirm("确定删除此条单品信息？")) {
				defaultForm.action = "deleteItem/" + id;
				defaultForm.submit();
			}
		}
		function deleteColor(id) {
			if (confirm("确定删除此颜色以及颜色下的单品？")) {
				defaultForm.action = "deleteColor/" + id;
				defaultForm.submit();
			}
		}
		function deleteSize(id) {
			if (confirm("确定删除此尺码以及尺码下的单品？")) {
				defaultForm.action = "deleteSize/" + id;
				defaultForm.submit();
			}
		}
		function back() {

			defaultForm.action = "../list";
			defaultForm.submit();

		}
		function toUrl() {
			defaultForm.action = "url";
			defaultForm.submit();

		}
		function draft() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "draft";
			defaultForm.submit();

		}

		function publish() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "publish";
			defaultForm.submit();
		}
	</script>
</body>
</html>