<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />
<script src="/js/jquery.min.js"></script>


<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="auditQuery">精编审核</a></li>
			<li class="active">审核精编</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm"
				th:object="${merchandise}" method="POST" action="add"
				onsubmit="return false">
				<input type="hidden" name="id" id="id" th:value="*{id}" /> <input
					type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />

				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>

				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">精编状态</label>
						<div class="col-sm-10">
							<input class="form-control" name="state" id="state"
								disabled="disabled" th:value="*{state}" placeholder="" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">驳回次数</label>
						<div class="col-sm-10">
							<input class="form-control" name="declinedCount"
								id="declinedCount" disabled="disabled"
								th:value="*{declinedCount}" placeholder="" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">商品标题</label>
						<div class="col-sm-10">
							<input class="form-control" name="title" id="title"
								disabled="disabled" th:value="*{title}" placeholder="商品标题" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<select id="genderId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="genderId" data-live-search="true">
								<option th:text="*{gender.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">品牌</label>
						<div class="col-sm-10">
							<select id="brandId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="brandId" data-live-search="true">

								<option th:text="*{brand.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类</label>
						<div class="col-sm-10">
							<select class="form-control " id="taxon1" th:value="${taxonId}"
								disabled="disabled" onchange="getTaxon2(this.value)">
								<option value="0">选择一级分类</option>
								<option th:each="taxon:${topTaxons}" th:value="${taxon.id}"
									th:text="${taxon.name}" th:selected="*{taxon1.id}==${taxon.id}"></option>
							</select> <select class="form-control " id="taxon2" disabled="disabled"
								onchange="getTaxon3(this.value)">
								<option value="0">选择二级分类</option>
								<option th:if="*{taxon2}!=null" th:text="*{taxon2.name}"
									th:value="*{taxon2.id}" th:selected="true"></option>
							</select> <select class="form-control " name="taxonId" disabled="disabled"
								id="taxon3">
								<option th:if="*{taxon3}!=null" th:text="*{taxon3.name}"
									th:value="*{taxon3.id}" th:selected="true"></option>
								<option value="0">选择三级分类</option>
							</select>

						</div>
					</div>
					<!-- <div class="form-group">
						<label for="url" class="col-sm-2 control-label">相册名称</label>
						<div class="col-sm-10">
							<a class="form-control" id="url" th:each="album:*{albums}"
								th:value="${album.id}" th:selected="${album.id}==*{albumId}"
								th:text="${album.name}" th:href="'../album/show/'+${album.id}"
								target='_blank'> </a>
						</div>
					</div> -->

				</div>
				<div class="panel-heading">
					<h3 class="panel-title">商品相册:
					&nbsp;&nbsp;&nbsp;
						<select id="albumId" 
								disabled="disabled" name="albumId" data-live-search="true">
								<option value="0">未选择商品相册</option>
								<option th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									disabled="disabled"></option>
							</select>
					</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr>
							<td th:each="image : ${images}"><img alt=""
								th:src="${image.url}" height="100"></img></td>
						</tr>
					</table>
				</div>
				<!-- 原网链接部分 -->
				<div class="panel-heading">
					<h3 class="panel-title">
						原网信息
						<!-- <button type="button" value="添加原网信息" onclick="toUrl()"
							style="float: right;" class="btn btn-info">添加原网信息</button> -->
					</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<!-- <th>品牌</th>
							<th>mpn</th> -->
							<th>url</th>
							<th>状态</th>
							<th>创建时间</th>
							<!-- 	<th>操作</th> -->
						</tr>
						<tr th:each="item : ${merchandise.SourceUrl}">
							<td th:text="${item.id}" class="itemId">12</td>
							<!-- <td th:text="*{brand.name}">12</td>
							<td th:text="${item.mpn}">12</td> -->
							<td><a th:href="${item.url}" target="_blank"
								th:text="${item.url}"></a></td>
							<td th:if="${item.state}==1">正常</td>
							<td th:if="${item.state}==0">已删除</td>
							<td th:text="${item.createdAt}">12</td>

						</tr>
					</table>
				</div>



				<!--  单品信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">单品信息</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>颜色</th>
							<th>尺码</th>
							<th>MPN</th>
							<th>库存</th>
							<th>价格</th>
							<th>相册</th>
							<!-- <th>操作</th> -->
						</tr>
						<tr th:each="item : ${merchandise.lineItems}">
							<td th:text="${item.id}" class="itemId">12</td>
							<td th:text="${item.color}">12</td>
							<td th:text="${item.size}">12</td>
							<td th:text="${item.mpn}">12</td>
							<td th:text="${item.stock}">12</td>
							<td th:text="${item.price}">12</td>
							<td><a th:text="${item.albumName}"
								th:href="'../album/show/'+${item.albumId}" target="_blank"></a></td>

						</tr>

					</table>
				</div>

				<!--  规格信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">规格信息</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>属性名称</th>
							<th>规格值</th>
						</tr>
						<tr th:each="spec : ${merchandise.specs}">
							<td th:text="${spec.id}" class="itemId">12</td>
							<td th:text="${spec.key}">12</td>
							<td th:text="${spec.value}">12</td>

						</tr>

					</table>
				</div>

				<!--  详情部分-->
				<div class="panel-heading">
					<h3 class="panel-title">详情信息</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>名称</th>
							<th>预览</th>
						</tr>
						<tr th:each="desc : ${merchandise.descs}">
							<td><a th:text="${desc.id}"
								th:href="'../desc/show/'+${desc.id}" target="_blank"> </a></td>
							<td th:text="${desc.name}">12</td>
							<td><textarea name="content" th:text="${desc.content}"> </textarea></td>
						</tr>

					</table>
				</div>


				<div class="form-group " style="text-align: center;">
					<div class="col-sm-4 ">
						<button class="btn btn-default" onclick="draft()">通过</button>
					</div>
					<div class="col-sm-4 ">
						<input type="button" class="btn btn-default" onclick="pub()"
							value="驳回" />
					</div>

					<div class="col-sm-4 ">
						<input type="button" value="返回" class="btn btn-default"
							onclick="back()" />
					</div>

				</div>
				<input type="hidden" id="message"
					th:value="${merchandise.alertMessage}" /> <input type="hidden"
					id="reason" name="declinedReason" />
			</form>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="set-rocid" tabindex="-1" role="dialog"
		aria-labelledby="SetRocIdModal">
		<div class="modal-dialog " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="SetRocIdModal">驳回原因</h4>
				</div>
				<form class="form-inline">
					<div class="modal-body">
						<div>
							<div class="form-group">
								<input type="text" id="declinedReason" name="declinedReason"
									class="form-control" placeholder="原因" />
							</div>
						</div>

					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="declined()">提交</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/sparrow/ajax.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>
	<script>
		tinymce.init({
			selector : "textarea",
			height : 400,
			language : 'zh_CN',
			plugins : [ '          ' ],
			menubar : false
		});
	</script>
	<script type="text/javascript">
		/*<![CDATA[*/

		function draft() {
			if ("待审核" != $("#state").val()) {
				alert("非待审核 状态，不需要审核！！");
				return;
			}
			defaultForm.action = "audited?state=已发布";
			defaultForm.submit();

		}

		function pub() {
			if ("待审核" != $("#state").val()) {
				alert("非待审核 状态，不需要审核！！");
				return;
			}
			$('#set-rocid').modal("show");
		}
		function declined() {

			$("#reason").val($("#declinedReason").val());
			if (null == $("#declinedReason").val()
					|| "" == $("#declinedReason").val()) {
				alert("请输入驳回原因");
				return;
			}
			defaultForm.action = "audited?state=审核未过";
			defaultForm.submit();
		}
		/*]]>*/
	</script>
</body>
</html>