<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viveport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" class="js-site-favicon"
	href="/images/jing.jpg" />

<title>精编系统-修改精编</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/formValidation.css" />
<script src="/js/jquery.min.js"></script>

<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
</head>
<body>
	<!-- 导航部分开始 修改密码包含在导航里面 -->
	<script type="text/javascript" src="/js/head.js"></script>
	<!-- Modal 修改密码 -->
	<script type="text/javascript" src="/js/updatePassword.js"></script>
	<!-- 导航部分结束 -->


	<!-- 内容部分 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="all">所有精编</a></li>
			<li class="active">精编详情</li>
		</ol>
		<div class="panel panel-default">

			<form class="form-horizontal" id="defaultForm"
				th:object="${merchandise}" method="POST" action="add"
				onsubmit="return false">
				<!-- <input type="hidden" name="id" id="id" th:value="*{id}" /> -->
				<input type="hidden" id="login_user"
					th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" />

				<div class="panel-heading">
					<h3 class="panel-title">基本信息</h3>

				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">精编ID</label>
						<div class="col-sm-10">
							<input class="form-control" name="id" id="id" disabled="disabled"
								th:value="*{id}" placeholder="" />
						</div>
					</div>

					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">负责人</label>
						<div class="col-sm-10">
							<input class="form-control" name="holderName" id="holderName"
								disabled="disabled" th:value="*{holderName}" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">精编状态</label>
						<div class="col-sm-10">
							<input class="form-control" name="state" id="state"
								disabled="disabled" th:value="*{state}" placeholder="" />
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">商品标题</label>
						<div class="col-sm-10">
							<input class="form-control" name="title" id="title"
								disabled="disabled" th:value="*{title}" placeholder="商品标题" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<select id="genderId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="genderId" data-live-search="true">
								<option th:text="*{gender.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">品牌</label>
						<div class="col-sm-10">
							<select id="brandId"
								class="selectpicker show-tick form-control modify"
								disabled="disabled" name="brandId" data-live-search="true">

								<option th:text="*{brand.name}"></option>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类</label>
						<div class="col-sm-10">
							<select class="form-control " id="taxon1" th:value="${taxonId}"
								disabled="disabled" onchange="getTaxon2(this.value)">
								<option value="0">选择一级分类</option>
								<option th:each="taxon:${topTaxons}" th:value="${taxon.id}"
									th:text="${taxon.name}" th:selected="*{taxon1.id}==${taxon.id}"></option>
							</select> <select class="form-control " id="taxon2" disabled="disabled"
								onchange="getTaxon3(this.value)">
								<option value="0">选择二级分类</option>
								<option th:if="*{taxon2}!=null" th:text="*{taxon2.name}"
									th:value="*{taxon2.id}" th:selected="true"></option>
							</select> <select class="form-control " name="taxonId" disabled="disabled"
								id="taxon3">
								<option th:if="*{taxon3}!=null" th:text="*{taxon3.name}"
									th:value="*{taxon3.id}" th:selected="true"></option>
								<option value="0">选择三级分类</option>
							</select>

						</div>
					</div>
					<!-- <div class="form-group">
						<label for="url" class="col-sm-2 control-label">相册名称</label>
						<div class="col-sm-10">
							<select id="albumId" class="selectpicker show-tick form-control"
								disabled="disabled" name="albumId" data-live-search="true">
								<option value="0">选择商品相册</option>
								<option th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									disabled="disabled"></option>
							</select>

						</div>
					</div> -->
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">商品相册:
					&nbsp;&nbsp;&nbsp;
						<select id="albumId" 
								disabled="disabled" name="albumId" data-live-search="true">
								<option value="0">未选择商品相册</option>
								<option th:each="album:*{albums}" th:value="${album.id}"
									th:selected="${album.id}==*{albumId}" th:text="${album.name}"
									disabled="disabled"></option>
							</select>
					</h3>
				</div>
				<div class="panel-body">
					<a th:each="image : ${images}"> <img alt=""
						th:src="${image.url}" height="100"></img>
					</a>
				</div>
				
				
				<!-- <div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr>
							<td th:each="image : ${images}"><img alt=""
								th:src="${image.url}" height="100"></img></td>
						</tr>
					</table>
				</div> -->
				<!-- 原网链接部分 -->
				<div class="panel-heading">
					<h3 class="panel-title">原网信息</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<!-- <th>品牌</th>
							<th>mpn</th> -->
							<th>url</th>
							<th>状态</th>
							<th>创建时间</th>
						</tr>
						<tr th:each="item : ${merchandise.SourceUrl}">
							<td th:text="${item.id}" class="itemId">12</td>
							<!-- <td th:text="*{brand.name}">12</td>
							<td th:text="${item.mpn}">12</td> -->
							<td><a th:href="${item.url}" target="_blank"
								th:text="${item.url}"></a></td>
							<td th:if="${item.state}==1">正常</td>
							<td th:if="${item.state}==0">已删除</td>
							<td th:text="${item.createdAt}">12</td>

						</tr>
					</table>
				</div>



				<!--  单品信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">单品信息</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>颜色</th>
							<th>尺码</th>
							<th>MPN</th>
							<th>库存</th>
							<th>价格</th>
							<th>相册</th>
						</tr>
						<tr th:each="item : ${merchandise.lineItems}">
							<td th:text="${item.id}" class="itemId">12</td>
							<td th:text="${item.color}">12</td>
							<td th:text="${item.size}">12</td>
							<td th:text="${item.mpn}">12</td>
							<td th:text="${item.stock}">12</td>
							<td th:text="${item.price}">12</td>
							<td th:text="${item.albumName}">12</td>

						</tr>

					</table>
				</div>

				<!--  规格信息部分-->
				<div class="panel-heading">
					<h3 class="panel-title">规格信息</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>属性名称</th>
							<th>规格值</th>
						</tr>
						<tr th:each="spec : ${merchandise.specs}">
							<td th:text="${spec.id}" class="itemId">12</td>
							<td th:text="${spec.key}">12</td>
							<td th:text="${spec.value}">12</td>

						</tr>

					</table>
				</div>

				<!--  详情部分-->
				<div class="panel-heading">
					<h3 class="panel-title">详情信息</h3>
				</div>

				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						style="width: 90%;" align="center">
						<tr class="success">
							<th>编号</th>
							<th>名称</th>
							<th>预览</th>
						</tr>
						<tr th:each="desc : ${merchandise.descs}">
							<td><a th:href="'../desc/'+${desc.id}" th:text="${desc.id}"></a></td>
							<td th:text="${desc.name}">12</td>
							<td><textarea name="content" th:text="${desc.content}"> </textarea></td>
						</tr>
					</table>
				</div>

				<!-- 变更历史 -->
				<div class="panel-heading">
					<h3 class="panel-title">变更历史</h3>
				</div>


				<div class="panel-body">
					<table class="table table-bordered table-condensed table-hover "
						id="table-skus">
						<tr class="success">
							<th>时间</th>
							<th>新状态</th>
							<th>旧状态</th>
							<th>备注</th>
							<th>操作人</th>
						</tr>
						<tr th:each="item : ${merchandise.stateChanges}">
							<td
								th:text="${#dates.format(item.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
							<td th:text="${item.newState}">12</td>
							<td th:text="${item.oldState}">12</td>
							<td th:text="${item.note}">12</td>
							<td th:text="${item.createdBy}">12</td>
						</tr>
					</table>
				</div>

				<div class="form-group " style="text-align: center;">
					<!-- <div class="col-sm-4 ">
						<button class="btn btn-default" onclick="draft()">仅保存草稿</button>
					</div>

					<div th:switch="${merchandise.state}" class="col-sm-4 ">
						<a th:case="'回收站'"> </a> <a th:case="*">
							<button class="btn btn-default" onclick="publish()">保存并发布</button>
						</a>
					</div> -->

					<div class="col-sm-4 ">
						<input type="button" value="返回" class="btn btn-default"
							onclick="history.go(-1)" />
					</div>

				</div>
				<input type="hidden" id="message"
					th:value="${merchandise.alertMessage}" />
			</form>
		</div>

	</div>
	<script type="text/javascript" src="/js/sparrow/ajax.js"></script>
	<script src="/js/alert.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/js/formValidation.js"></script>
	<script type="text/javascript" src="/js/framework/bootstrap.js"></script>
	<script type="text/javascript" src="/js/language/zh_CN.js"></script>
	<script>
		tinymce.init({
			selector : "textarea",
			height : 400,
			language : 'zh_CN',
			plugins : [ '          ' ],
			menubar : false
		});
	</script>
	<script type="text/javascript">
		function toDesc() {
			defaultForm.action = "desc";
			defaultForm.submit();

		}
		function toSpec() {
			defaultForm.action = "spec";
			defaultForm.submit();

		}
		function toItem() {
			defaultForm.action = "lineItem";
			defaultForm.submit();

		}
		function color() {
			defaultForm.action = "color";
			defaultForm.submit();

		}
		function size() {
			defaultForm.action = "size";
			defaultForm.submit();

		}
		function basic() {
			defaultForm.action = "basic/toModify";
			defaultForm.submit();

			//$('input').attr("disabled",false);
			//$('#taxon3').attr("disabled",false);
			// $('.modify').prop('disabled', false);
			//$('.modify').selectpicker('refresh');
		}
		function album() {
			defaultForm.action = "albums";
			defaultForm.submit();

		}

		function deleteDesc(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteDesc/" + id;
				defaultForm.submit();
			}
		}
		function deleteSpec(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteSpec/" + id;
				defaultForm.submit();
			}
		}
		function deleteUrl(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteUrl/" + id;
				defaultForm.submit();
			}
		}
		function deleteItem(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteItem/" + id;
				defaultForm.submit();
			}
		}
		function deleteColor(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteColor/" + id;
				defaultForm.submit();
			}
		}
		function deleteSize(id) {
			if (confirm("确定删除此条信息？")) {
				defaultForm.action = "deleteSize/" + id;
				defaultForm.submit();
			}
		}
		function back() {

			defaultForm.action = "queryAll";
			defaultForm.submit();

		}
		function toUrl() {
			defaultForm.action = "url";
			defaultForm.submit();

		}
		function draft() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "draft";
			defaultForm.submit();

		}

		function publish() {
			if ($("#title").val() == "" || $("#title").val() == null) {
				alert("title不能为空！");
				return false;
			}

			if ($("#brandId").val() == 0) {
				alert("请选择品牌！");
				return false;
			}
			if ($("#genderId").val() == 0) {
				alert("请选择性别！");
				return false;
			}
			if ($("#taxon2").val() == 0) {
				alert("请选择类目！");
				return false;
			}
			if ($("#albumId").val() == 0) {
				alert("请选择相册！");
				return false;
			}
			defaultForm.action = "publish";
			defaultForm.submit();
		}
	</script>
</body>
</html>